/*CSS linked  - S303424 - HIT 226 Web Project*/
*{
	margin:0;
	padding:0;
	font-family: 'Amatic SC', cursive;
	font-family: 'Big Shoulders Stencil Display', cursive;
}
.header{

	min-height:100vh;
	width:100%;
	background-image:linear-gradient(rgb(3, 1, 14),rgba(25, 25, 71, 0.945)),url(https://media.giphy.com/media/JoPa1aDFEvRecqeFja/giphy.gif);
	background-position: center;
	background-size: cover;
	position: relative;
}
#tglogo {
	position: left;
	width: 100%;
	top: 900px;
	right: 681px;
	margin-bottom: 100px;

}

nav{
	display:flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150px;
}
.nav-links{
	flex:1;
	text-align: right;

}
.nav-links ul li{
	list-style:none;
	display:inline-block;
	padding:8px 12px;
	position:relative;
}
.nav-links ul li a{
	color: rgb(216, 115, 20);
	text-decoration: none;
	font-size: 25px;
}
.nav-links ul li::after{
	content:'';
	width: 0%;
	height: 2px;
	background: #f0eded;
	Display:block;
	Margin:auto;
	transition:0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text_box{
	width:90%;
	color: #fff;
	position:absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align:center;
}

.text_box h1{
	font-size: 60px;
	color:rgb(219, 166, 18);
}
.text_box p{
	margin: 10 px 0 40px;
	font: size 14px;
}

.more-btn{
	display:inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding:12px 34px;
	font-size: 18px;
	margin-top: 80px;
	background:transparent;
	position: relative;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: normal;
	cursor: pointer;
	
}
.more-btn:hover{
	border: 1px solid #f44336;
	background:#07ecec;
	transition: 1s ; 
}
nav .fa{
	display:none;
}
@media(max-width:700px){
	.text_box h1{
		font-size:20px;
	}
	.nav-links ul li{
		display:block;
	}
	.nav-links{
		position:absolute;
		background:#616c9b;
		height: 100vh;
		top:0;
		right:0;
		text-align:left;
		z-index: 2;
	}
     nav .fa{
		 display:block;
		 color:#fff;
		 margin:10px;
		 font: size 22px;
		 cursor: pointer;
	 }
	
}

/* ABOUT US  - S303424 - HIT 226 Web Project*/

.ABOUT {
	width:80%;
	margin:auto;
	text-align: center;
	padding: top 100px;
}

.ABOUT h1{
	font-size: 36px;
	font-weight:600;
	margin-top: 25px;

}
.ABOUT p{
	color: #000000;
	font-size: 15px;
	font-weight: 300;
	line-height:22px;
	padding: 10px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;
}
.row {
	color: #0847f3;
	margin-top: 5%;
	display:flex;
	justify-content: space-between;
	
}
.service{
	background: #fff;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	background-color: lightgrey;
	width: 300px;
	border: 15px solid green;
}

.CONTACT {
	background-image:linear-gradient(rgb(0, 0, 0),rgba(0, 6, 63, 0.945)),url(https://media.giphy.com/media/JoPa1aDFEvRecqeFja/giphy.gif);
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
	color:white;
	text-align: left;
}

.CONTACT h1{
	font-size: 50px;
	margin: auto ;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	width: 500px;
	color: #F90;
	margin-right: 280px;
	margin-top: 250px;


}
.contactform{
	height: 80%;	
	background-image:linear-gradient(rgb(3, 1, 14),rgba(25, 25, 71, 0.945)),url(https://media.giphy.com/media/JoPa1aDFEvRecqeFja/giphy.gif);
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #0004d3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #e93508;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: rgb(243, 148, 7);
	color: white;
	height: 70px;
	cursor: pointer;
	margin-top: 25px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	
}
input[type="submit"]:hover{
	background-color: #0ee519;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}

footer {
	position: center;
	width: 100%;
	height: 30px;
	left: 5;
	bottom: 2;
	background-color: rgb(18, 22, 245);
	color: white;
	text-align: center;
}



